<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h2net.h2monitoringweb.mapper.AdminMapper">
    <select id="selectNoAuthUser" parameterType="String" resultType="Map">
        SELECT id, name, organization, auth, reg_date
        FROM h2_user
        WHERE auth = '99'
        ORDER BY reg_date;
    </select>

    <update id="updateUserAuth" parameterType="map">
        UPDATE h2_user
        SET auth = #{auth}
        WHERE id = #{id}
    </update>
</mapper>